window {
    margin: 0px;
    border: 2px solid @color-blue@;
    background-color: @color-bg@;
    border-radius: 10px;
    font-family: "@font-family@", "monospace";
    font-size: 18px;
}

#input {
    margin: 5px;
    border: none;
    border-radius: 6px;
    color: @color-fg@;
    background-color: @color-bg-alt@;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: @color-bg@;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: @color-bg@;
}

#text {
    margin: 5px;
    border: none;
    color: @color-fg@;
}

#entry:selected {
    background-color: @color-yellow@;
    border-radius: 6px;
}

#text:selected {
    color: @color-bg@;
}
